*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
body{
  font-family: "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif;
  -webkit-font-smoothing: antialiased;
}
.work-container{
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
  justify-content: space-around;
  padding:20px 10px;
  max-width: 980px;
  margin: 0 auto;
}
.work-list{
  width: 100%;
  margin-bottom: 10px;
}
@media(min-width:600px){
  .work-list{
    width: 30%;
  }
}
.work-card{
  padding:10px;
}

.gitinfo{
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
  justify-content: space-around;
  margin:20px 10px;
}
.gitinfo-card{
  width: 30%;
  border-right: 1px solid #eee;
}
.gitinfo-card:last-child{
  border-right: 0;
}
.gitinfo-card p{
  line-height: 2.8em;
}
.gitinfo-card span{
  line-height: 2.2em;
  color:#E91E63;
  font-weight: 600;
}
